
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#cont_top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 7vw;
    padding-left: 0;
    padding-right: 0;
}

#perfil_img{
    background-image: url(../Imagens/analise-de-dados.png);
    background-size: cover;
    width: 40vh;
    height: 40vh;
}

#perfil_img:hover{
    background-image: url(./Imagens/bicho-pau.jpg);
    transition: 0.3s;
}

h1{
    font-size: 4rem;
    color:rgb(255, 255, 255)
}

#back_top{
    position: relative;
    width: 100vw;
    background-color: rgb(85, 16, 150);
}

#back_top_shadow{
    position: relative;
    width: 100vw;
    height: 5vh;
    z-index: -2;
    background-color: rgb(194, 194, 194);
}

.mid{
    padding: 7vw;
    padding-left: 20vw;
}

#cont_mid a{
    text-decoration: none;
    font-size: 1.2rem;
    color:rgb(29, 29, 29);
}

#cont_mid a:hover{
    color:rgb(126, 32, 189);
    margin-left: 30px;
    transition: 0.5s;
}

h3{
    font-size: 2.5rem;
    padding-bottom: 30px;
}

ol{
    font-size: 1.2rem;
    font-weight: 800;
}

.cont_bot{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    padding-top: 7vw;
    padding-bottom: 7vh;
}

#back_bot{
    position: relative;
    width: 100vw;
    background-color: rgb(85, 16, 150);
}

#back_bot_shadow{
    position: relative;
    width: 100vw;
    height: 5vh;
    z-index: -2;
    background-color: rgb(194, 194, 194);
}

li{
    margin-bottom: 5px;
}

tr{
    color: #e7e7e7;
}

td a{
    text-decoration: none;
    color:#e7e7e7;
}

td a:hover{
    color:#d38bfd;
    cursor: pointer;
}

td{
    padding: 40px;
}

/* Telas de 992px */

@media (max-width: 992px){

    #perfil_img{
        width: 30vh;
        height: 30vh;
    }

    h1{
        font-size: 3.5rem;
    }

    tr{
        font-size: 1.1rem;
    }
}

/* Telas de 768px */

@media (max-width: 768px){

    #perfil_img{
        width: 20vh;
        height: 20vh;
    }

    h1{
        font-size: 2rem;
    }

    tr{
        font-size: 0.8rem;
    }

    h3{
        font-size: 2rem;
        padding-bottom: 30px;
    }
    
    ol{
        font-size: 0.8rem;
        font-weight: 800;
    }
}